-
    const team = [
        {
            img: "pirog",
            name: "Сергей Пирогов",
            description: "СЕО Invest Heroes"
        },
        {
            img: "sayganov",
            name: "Александр Сайганов",
            description: "Head of Research"
        },
        {
            img: "dubrovina",
            name: "Светлана Дубровина",
            description: "Senior Analyst"
        },
        {
            img: "lenshin",
            name: "Дмитрий Новичков",
            description: "Senior Analyst"
        },
        //- {
        //-     img: "kurapov",
        //-     name: "Андрей Курапов",
        //-     description: "Analyst"
        //- },
        {
            img: "nizov",
            name: "Виктор Низов",
            description: "Analyst"
        }
    ]