section.questions
    .questions__img     
        +webp(['question/mobile'], 'png')
    .l-default 
        .questions__top
            .questions__top-icon
                img.lazy(data-src="img/svg/questions/question.svg", alt="")
            h2.questions__title.title.title--h2 Часто задаваемые <span>вопросы</span>
        .questions__content
            .questions__dropdown.dropdown
                .dropdown-top
                    .dropdown-title С какой суммы лучше начать инвестировать?
                    .dropdown-top-arrow
                .dropdown-list Если вы планируете пополнять счет, можно начать со 100 тыс. рублей. Если просто хотите вложить определенную сумму без пополнений, рекомендуем начать минимум с 250 тыс. рублей. Меньше инвестировать бессмысленно из-за высоких комиссий брокера.
            .questions__dropdown.dropdown
                .dropdown-top
                    .dropdown-title Вы продаете сигналы?
                    .dropdown-top-arrow
                .dropdown-list Нет, мы не занимаемся трейдингом, наш фокус — долгосрочные инвестиции и приумножение капитала, а не быстрый заработок
            .questions__dropdown.dropdown
                .dropdown-top
                    .dropdown-title Есть ли пробный период?
                    .dropdown-top-arrow
                .dropdown-list Пробного периода нет, но иногда мы рассказываем о наших инвест идеях в соцсетях. Подписывайтесь на <a href="">Инстаграм</a> и <a href="">Телеграм</a>
            .questions__dropdown.dropdown
                .dropdown-top
                    .dropdown-title Как с помощью вашей аналитики мне собрать портфель?
                    .dropdown-top-arrow
                .dropdown-list Вы можете выбрать любые 10-15 компаний и сформировать из них портфель с учетом рекомендуемых нами долей либо скопировать один из наших портфелей и следовать за ним: покупать и продавать ценные бумаги вместе с нами.
            .questions__dropdown.dropdown
                .dropdown-top
                    .dropdown-title Какой рынок мне лучше выбрать, чтобы извлечь максимальную выгоду из подписки? США или РФ?
                    .dropdown-top-arrow
                .dropdown-list Мы не делим рынки на «лучший» или «худший». В каждом есть активы, способные показать очень хорошую доходность. Поэтому целесообразнее следовать за двумя рынками и распределить между ними активы 50/50.
            .questions__dropdown.dropdown
                .dropdown-top
                    .dropdown-title У меня уже сформирован портфель, чем мне поможет ваша аналитика?
                    .dropdown-top-arrow
                .dropdown-list С помощью нашей таблицы таргетов вы сможете глубже понять и изучить бизнес эмитентов в вашем портфеле и почерпнуть новые инвестиционные идеи.
            .questions__dropdown.dropdown
                .dropdown-top
                    .dropdown-title Есть ли скидки и как получить?
                    .dropdown-top-arrow
                .dropdown-list У нас есть приветственная скидка 5%, которая распространяется на любой тариф. Промокод: INVESTHEROES_5
            .questions__dropdown.dropdown
                .dropdown-top
                    .dropdown-title Покрываете ли вы китайский рынок?
                    .dropdown-top-arrow
                .dropdown-list В чистом виде китайский рынок мы не покрываем, но в рамках подписки на американский рынок есть несколько китайских эмитентов, которых мы подробно разбираем и выпускаем по ним инвестиционные идеи.
            .questions__dropdown.dropdown
                .dropdown-top
                    .dropdown-title Акции рынка США доступны для торговли неквалифицированным инвесторам?
                    .dropdown-top-arrow
                .dropdown-list Да, доступны. 90% покрываемых нами акций на рынке США торгуются на Санкт-Петербургской бирже.
            .questions__dropdown.dropdown
                .dropdown-top
                    .dropdown-title Вы пишете о сделках в режиме online?
                    .dropdown-top-arrow
                .dropdown-list Да, и уведомления приходят в бота. В них мы указываем, какую сделку открыли/закрыли, по какой цене и в каком объеме от портфеля, плюс даем сопроводительный комментарий, почему мы решили это сделать. Бота можно настроить под себя.