header.header 
    .l-default
        .header__wrapper
            .header__logo INVEST HEROES
            .header__text Подписаться сейчас
            a.header__btn.btn.btn--orange(href="#popup-form" data-fancybox) Войти