header.header.header--authorized
    .l-default
        .header__wrapper
            .header__logo INVEST HEROES
            .header__photo
                img(src="img/team/dubrovina.jpg", alt="") 
            .header__dropdown 
                img(src="img/svg/arrow-dropdown.svg", alt="")
        .header__menu.hidden 
            a.header__menu-item(href="https://portal.invest-heroes.ru/my/settings") Личные данные
            a.header__menu-item(href="https://portal.invest-heroes.ru/my") Подписка
            a.header__menu-item(href="https://portal.invest-heroes.ru/my/bookmarks") Избранное
            a.header__menu-item(href="https://invest-heroes.ru/index?action=auth/logout") Выйти