.ico-mono-instagram {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-logo {
  width: 11em;
  height: 1em;
  fill: #FF5745;
}
.ico-mono-star {
  width: 1em;
  height: 1em;
  fill: #FF5745;
}
.ico-mono-stocks {
  width: 1.58em;
  height: 1em;
  fill: #F3F3F3;
}
.ico-mono-telegram {
  width: 1.06em;
  height: 1em;
  fill: #fff;
}
.ico-mono-user {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-vk {
  width: 1.64em;
  height: 1em;
  fill: #fff;
}
