section.raitings.section.section-blue
    .raitings__top.section-top
        .l-default 
            .section-top__info
                .raitings__description Входим
                h2.raitings__title.title.title--h2 в международные рейтинги
                .raitings__top-icons
                    .raitings__top-icon
                        img.lazy(data-src="img/svg/raitings/refinitiv.svg", alt="")
                    .raitings__top-icon
                        img.lazy(data-src="img/svg/raitings/factset.svg", alt="")
    .l-default
        .raitings__items
            .raitings__item
                .raitings__item-icon
                    img.lazy(data-src="img/svg/raitings/check.svg", alt="")
                .raitings__item-title Профессионально занимаемся аналитикой и делимся идеями, в которые инвестируем сами
                .raitings__item-text Наша команда получила награды Мосбиржи, invest-idei. Мы публикуемся на международных агрегаторах Refinitiv, Factset  и единственная в России независимая ресерч-команда, входящая в международный рейтинг.
            .raitings__item
                .raitings__item-icon
                    img.lazy(data-src="img/svg/raitings/x.svg", alt="")
                .raitings__item-title Инвестирование — это всегда про риски, но при грамотном подходе и подсчете финансовых показателей по фундаментальному анализу можно уменьшить их, выбирая перспективные долгосрочные активы
                .raitings__item-text Мы создаем аналитический продукт, который помогает выбирать качественные инвестиционные идеи на год вперед.