section.bottom 
    .bottom__top.section-top
        .l-default  
            .bottom__imgs
                .bottom__img
                    +webp(['bottom/1'], 'png')
                .bottom__img
                    +webp(['bottom/2'], 'png')