.work {
    @media screen and (max-width: 1199px) {
        padding: 40px 0;
    }
    &__imgs {
        position: relative;
        min-height: 600px;
        background: #fff;
        @media screen and (max-width: 1199px) {
            display: flex;
            align-items: center;
            min-height: 0;
        }
    }

    p {
        margin: 0;
    }

    &__img {
        width: 70%;
        position: absolute;
        @media screen and (max-width: 1199px) {
            position: static;
            width: 50%;
        }
        &:first-child {
            top: 86px;
            left: 0;

            @media screen and (max-width: 1199px) {
                top: 0;
            }
        }

        &:last-child {
            bottom: -40px;
            right: 0;

            @media screen and (max-width: 1199px) {
                bottom: 0;
                display: flex;
                justify-content: flex-end;
                margin-left: auto;
                transform: translateY(100px);
            }
        }
    }

    .section-top {
        height: 100px;
        z-index: 4;
        transform: translateY(-100px);
        &:before {
            z-index: 1;
            border-top: 3px solid rgba(0, 0, 0, 0.04);
            border-right: 3px solid rgba(0, 0, 0, 0.04);
            background: #fff;

            @media screen and (max-width: 1599px) {
                width: 50%;
            }
        }
        
        &:after {
            top: 100px;
            right: -4.5%;
            z-index: 0;
            width: 50%;
            border-top: 3px solid rgba(0, 0, 0, 0.04);
            transform: skew(-55deg);
            background: #fff;
            border-radius: 0;
        }

        &__info {
            padding-top: 40px;
        }
    }
    
    &__item {
        position: relative;
        display: flex;
        margin-bottom: 50px;
        @media screen and (max-width: 600px) {
            max-width: 320px;
            padding: 0 15px;
        }
        @media screen and (max-width: 359px) {
            margin: 0 auto 20px;
        }
        &-info {
            width: 50%;            
            @media screen and (max-width: 1199px) {
                width: 100%;
            }
        }

        &-arrow {
            display: flex;
            transform: translateY(50%);
            margin-left: 30px;

            @media screen and (max-width: 600px) {
                display: none;
            }
        }
        
        &:nth-child(2n) {
            flex-direction: row-reverse;
            .work {
                &__item {
                    &-arrow {
                        transform: translateY(50%) rotateY(180deg);
                        margin-right: 30px;
                        margin-left: 0;

                        @media screen and (max-width: 600px) {
                            right: -15px;
                            transform: translateY(0) rotateY(180deg);
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        &:last-child {
            .work {
                &__item {
                    &-arrow {
                        display: none;
                    }
                }
            }
        }

        &:first-child {
            @media screen and (max-width: 600px) {
                margin-bottom: 46px;
            }
            @media screen and (max-width: 359px) {
                margin-bottom: 26px;
            }
            &:after {
                position: absolute;
                top: 10px;
                left: -10px;
                width: 20px;
                height: 215px;
                display: none;
                content: '';
                background: url('.././img/svg/work/arrow-1.svg');
                background-repeat: no-repeat;
                background-size: cover;
                @media screen and (max-width: 600px) {
                    display: block;
                }
            }
        }

        &:nth-child(2) {
            @media screen and (max-width: 600px) {
                margin-bottom: 66px;
            }
            @media screen and (max-width: 349px) {
                margin-bottom: 28px;
            }
            &:after {
                position: absolute;
                top: 10px;
                right: 0;
                display: none;
                width: 108px;
                height: 350px;
                content: '';
                background: url('.././img/svg/work/arrow-2.svg');
                background-repeat: no-repeat;
                background-size: cover;
                @media screen and (max-width: 600px) {
                    display: block;
                }
                @media screen and (max-width: 330px) {
                    right: -20px;
                }
            }
        }

        &:nth-child(3) {
            @media screen and (max-width: 600px) {
                margin-bottom: 95px;
            }
            @media screen and (max-width: 330px) {
                margin-bottom: 38px;
            }
            &:after {
                position: absolute;
                top: 10px;
                left: -10px;
                width: 20px;
                height: 477px;
                display: none;
                content: '';
                background: url('.././img/svg/work/arrow-3.svg');
                background-repeat: no-repeat;
                background-size: cover;
                @media screen and (max-width: 600px) {
                    display: block;
                }
            }
        }

        &-title {
            font-size: 30px;
            line-height: 120%;
            font-weight: 700;
            margin-bottom: 15px;
            @media screen and (max-width: 1199px) {
                font-size: 20px;
                margin-bottom: 20px;
            }
        }

        &-text {
            font-size: 18px;
            line-height: 120%;
            margin-bottom: 15px;
            @media screen and (max-width: 1199px) {
                font-size: 16px;
                margin-bottom: 0;
            }
        }
    }
}