-
    const work_items = [
        {
            title: "1. Есть компании",
            text: "<p>Акции компании торгуются на бирже. Раз в квартал эта компания отчитывается о своей деятельности — и эти отчеты помогают инвесторам определить, будут эти акции расти или нет.</p>"
        },
        {
            title: "2. Есть аналитик",
            text: "<p>Он изучает отчетность компании, которая выходит каждый квартал, и на её основе строит финансовый прогноз на 12 месяцев, а каждый следующий квартал корректирует его.<p></p>Исходя из прогноза, аналитик дает рекомендацию по акции и целевую цену — на основании чего в дальнейшем формируется инвестиционная идея, если предпосылки к росту верны.</p>"
        },
        {
            title: "3. Есть подписчик",
            text: "<p>Он заходит в сервис и видит отчёты по компаниям и инвестиционные идеи, которые выпустили аналитики. Видит, что каждая компания, у которой есть инвестидея, подтверждается отчётом, в котором просчитаны предпосылки роста компании. Начинает на основе этого формировать портфель, исходя из своего риск-профиля и целей в инвестировании.<p></p>А благодаря тому, что аналитики регулярно комментируют ситуацию по своим компаниям, подписчик понимает контекст, в котором торгует.</p>"
        },
        {
            title: "В итоге",
            text: "<p>Аналитик потратил годы на обучение и месяцы на разработку моделей конкретных компаний. Подписчик — максимум 1500 руб. в месяц за подписку на сервис и час своего времени на выбор активов под свои цели.</p>"
        }
    ]

section.work
    .l-default
        .work__imgs
            .work__img
                +webp(['work/1', 'work/1-1'], typeImg='png', lazy, alt, sizes=[{min: ['1199']}, {max: ['1199']}])
            .work__img
                +webp(['work/2', 'work/2-1'], typeImg='png', lazy, alt, sizes=[{min: ['1199']}, {max: ['1199']}])
    .work__top.section-top
        .l-default 
            .section-top__info
                .section-top__icon 
                    img(src="img/svg/work/graph.svg", alt="")
                h2.work__title.title.title--h2 Как работает <span>наш сервис</span>
    .l-default
        .work__items
            each work_item in work_items
                .work__item
                    .work__item-info
                        .work__item-title= work_item.title
                        .work__item-text!= work_item.text
                    .work__item-arrow 
                        +webp(['work/arrow-item'], 'png', 'lazy')
                        