-
    const about_reviews = [
        {
            name: "Антон",
            img: "",
            title: "В подписке уже 10 месяцев",
            text: "<p>С командой героев уже год. С их помощью моя доходность по портфелю за год составила 25%. Если бы не мои личные неверные сделки, в частности шорт U500 перед новым годом, доходность была бы ещё больше) Всегда понятная аналитика, понятная логика сделок. Да, бывают просадки и порой позиции с минусом. Но это является частью работы на финансовых рынках. Стратегии довольно безрисковые. Оперативная поддержка и общение в чате. Очень рекомендую! Работа с героями мне очень нравится! Так держать!</p>",
            description: "Подписчик Invest Heroes",
        },
        {
            name: "Виктор",
            img: "",
            title: "В подписке уже 10 месяцев",
            text: "<p>С командой IH я познакомился в самом начале их пути. После общения с ними понял, что им можно доверять, а в нашем мире это я считаю одним из главных. Ребята грамотно, внимательно и всесторонне относятся к своим друзьям-подписчикам. Очень трепетно относятся к своему проекту, который я уверен доведут до чего-то масштабного. Часто проводятся встречи, где в личной беседе можно задать вопросы, обсудить подход, получить совет. Ты на самом деле чувствуешь на себе внимание. Для меня команда IH стала проводником в сложный и непростой мир инвестиций и спекуляций. Благодарен за их труд. Спасибо команда IH!</p>",
            description: "Подписчик Invest Heroes",
        },
        {
            name: "Davis Jefferson",
            img: "",
            title: "В подписке уже 10 месяцев",
            text: "<p>Приятно, что подход в целом фундаментальный, а не спекулирование на биткоинах. Так получилось, что я подписан на ваш канал с самого начала, очень нравится, как вы развиваетесь. Хочу в ближайшее время зарядить в ваше автоследование, а то понимаю, что сам не вывожу во многих моментах и делаю глупые мувы. Думаю, за тот хардкор, который вы терпите в discussion, вам должны доплачивать =) А так, я предельно счастлив, честное слово вы крутые ребята.</p>",
            description: "Подписчик Invest Heroes",
        },
        {
            name: "Станислав",
            img: "subscriber_4",
            title: "В подписке уже 10 месяцев",
            text: "<p>Я на рынке чуть больше года и за это время моя жизнь изменилась кардинальным образом. Причем здесь речь идёт даже не о финансовых изменениях, хотя они тоже произошли, а о том, что я начал смотреть на те или иные процессы, которые происходят в экономике, политике и обществе другими глазами. Здесь нужно отдельно отметить заслуги Invest Heroes, они терпеливо отвечают на все вопросы подписчиков и делают очень подробные разборы и отчеты.</p>",
            description: "Подписчик Invest Heroes",
        },
        {
            name: "Сергей Данилов",
            img: "",
            title: "В подписке уже 10 месяцев",
            text: "<p>На данный момент меня все устраивает. Подача материала, разбор компаний, акцентирование на предстоящих новостях и чего от них ожидать. Технический анализ стал хорошим дополнением. Фидбек и поддержка сообщества. В общем, так держать! Растем вместе.</p>",
            description: "Подписчик Invest Heroes",
        },
        {
            name: "Алексей Егоров",
            img: "subscriber_5",
            title: "В подписке уже 10 месяцев",
            text: "<p>Я с вами полгода, и в это время на рынках была непростая и интересная ситуация. Так как я клиент Тинькофф, у меня немного ограничен список инструментов + сам анализировал, набивал шишки и реализовывал не все ваши рекомендации. Итого за полгода у меня портфель просел всего на 0.8%, и это я считаю хорошим результатом. К примеру, за последний месяц у меня прирост в 8%. Хочу выразить вам благодарность за то, что показали, как себя вести в условиях мирового кризиса.</p>",
            description: "Подписчик Invest Heroes",
        },
        {
            name: "Дмитрий",
            img: "subscriber_7",
            title: "В подписке уже 10 месяцев",
            text: '<p>В целом, все хорошо. Только замечаю, что у вас на сайте котировки отстают, и если в акциях и облигациях они "подтягиваются" на следующий день, то в перспективных облигациях они застыли вообще. В целом удалось заработать около 2% от стоимости портфеля. Все устраивает, но вот активности от Ивана по облигациям хотелось бы больше.</p>',
            description: "Подписчик Invest Heroes",
        },
        {
            name: "Tintin",
            img: "subscriber_8",
            title: "В подписке уже 10 месяцев",
            text: "<p>Все круто. Спасибо вам за работу. Я понимаю, что угадать все нереально. Но это же не угадайка? Пока я не видел более душевного сервиса. Спасибо.</p>",
            description: "Подписчик Invest Heroes",
        },
        {
            name: "Kir N",
            img: "subscriber_8",
            title: "В подписке уже 10 месяцев",
            text: "<p>Ребят, спасибо большое от души. Видно много работы, рынок – это штука не всегда понятная и ходит в разных направлениях, но ваши идеи с хеджеми и перестраховки понятны. Думаю, скоро увидим в действии. Ясно, что не все ещё чувствуют разницу в рисках идей. Главное, что движемся по верному пути)</p>",
            description: "Подписчик Invest Heroes",
        },
        {
            name: "Сергей Данилов",
            img: "",
            title: "В подписке уже 10 месяцев",
            text: "<p>Спасибо. Аналитика вкупе с вебинарами и другими вашими статьями очень помогает в понимании ситуации на рынке. В целом, хорошо мотивируете на развитие в этой области!</p>",
            description: "Подписчик Invest Heroes",
        }
    ]