.false {
    z-index: 2;
    transform: translateY(-80px);

    &__icon {
        font-size: 36px;
        line-height: 1;
        margin-bottom: 15px;

        @media screen and (max-width: 600px) {
            width: 20px;
            margin-bottom: 10px;
        }
    }

    &__top {
        width: 40%;
        margin-bottom: 55px;
        padding-top: 20px;

        @media screen and (max-width: 600px) {
            margin-bottom: 32px;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;

        @media screen and (max-width: 600px) {
            margin: 0;
        }
    }

    &__item {
        width: calc(33.3333% - 40px);
        margin: 0 20px 40px;

        @media screen and (max-width: 1199px) {
            width: calc(50% - 40px);
        }

        @media screen and (max-width: 600px) {
            width: 100%;
            margin: 0 0 20px;
        }

        &-icon {
            min-height: 35px;
            margin-bottom: 15px;
            @media screen and (max-width: 600px) {
                min-height: 27px;
            }
            img {
                display: block;
                width: auto;
                height: 100%;
            }
        }

        &-title {
            font-size: 24px;
            line-height: 120%;
            font-weight: 700;
            margin-bottom: 15px;

            @media screen and (max-width: 600px) {
                font-size: 20px;
            }
        }

        &-text {
            font-size: 18px;
            line-height: 120%;

            @media screen and (max-width: 600px) {
                font-size: 16px;
            }
        }
    }

    &__bottom {
        transform: translateY(250px);
        margin-top: -250px;

        @media screen and (max-width: 1199px) {
            transform: translateY(180px);
            margin-top: -150px;
        }
        
        @media screen and (max-width: 359px) {
            width: 50%;
        }
    }
}