section.main-top
    .l-default 
        .main-top__info
            h1.main-top__title.title.title--h1 <span class="text--color">Инвестируйте и увеличивайте капитал,</span> а рутину мы возьмем на себя
            .main-top__subtitle Invest Heroes — независимая команда аналитиков и управляющих. Мы сделали сервис, в котором публикуем результаты фундаментального анализа наших аналитиков: прогнозы по акциям, подборки перспективных облигаций, инвестиционные идеи и стратегии. 
            a.main-top__btn.btn.btn--orange.scroll(href="#prices") Подписаться
            .main-top__text При подписке на годовой тариф по российскому рынку <span>от 833 руб/мес</span>
        .main-top__img 
            +webp(['main/main'], 'png')