.pre-images {
    margin-top: -250px;
    @media screen and (max-width: 1199px) {
        margin-top: 0;
    }
    &__imgs {
        display: flex;
    }

    &__img {
        &:first-child {
            transform: translateY(20px);
            @media screen and (max-width: 600px) {
                transform: translateY(-20px);
                margin-right: 20px;
            }
        }

        &:last-child {
            @media screen and (max-width: 600px) {
                margin-left: auto;
            }
        }
    }

    .l-default {
        @media screen and (max-width: 600px) {
            padding: 0;
        }
    }
}