footer.footer
    .footer__top.section-top
    .l-default
        .footer__menu
            .footer__menu-list
                .footer__menu-title Invest Heroes
                a.footer__menu-item(href="") Команда
                a.footer__menu-item(href="") Оферта
                a.footer__menu-item(href="") Политика конфиденциальности
                a.footer__menu-item(href="") Отказ от ответственности
            .footer__menu-list
                .footer__menu-title Контакты
                a.footer__menu-item(href="") Адрес: Дербеневская набережная д. 7, с. 12
                a.footer__menu-item(href="mailto:support@invest-heroes.ru") support@invest-heroes.ru
            a.footer__menu-btn.btn.btn--orange.scroll(href="#prices") Подписаться
    .footer__bottom 
        .l-default
            .footer__bottom-wrapper
                .footer__copyrights © «Invest Heroes», 2018-2021
                .footer__socials
                    a.footer__social(href="")
                        +svgMono('telegram')
                    a.footer__social(href="")
                        +svgMono('vk')
                    a.footer__social(href="")
                        +svgMono('instagram')
